.form-header{
   font-size: 18px;
   margin-bottom: 20px;
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
   color: #606060;
}

.error-text{
   color: red;
   font-size: 12px;
}
.checkout-header{
   font-size: 18px;
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
   color: #606060;
}
.card-flex{
   display: flex;
   justify-content: space-between;
}

.card-flex div{
   color: #858a99;
   font-size: 13px;
   font-weight: 600;
   line-height: 28px;
}
.checkout-btn{
   margin-top: 20px !important;
   color: #fff;
   background-color: #1976d2;
   box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
   width: 100%;
   -webkit-tap-highlight-color: transparent;
   outline: none;
   border: 0;
   font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
}
.total-price{
   background: #f5f4fb;
   padding: 0 5px;
}
.total-price div{
   font-size: 14px;
   color: #606060;
}
.multiline{
   width: 100%;
}
input, textarea{
   padding: 10px 15px;
   padding-top: 20px;
   font-size: 15px;
   color: #8e8e8e !important;
   font-weight: 400 !important;
}