.service-section{
    margin-top: 100px;
}
.service-section .title{
    color: #5C5C5C;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 4px;
}
.service-section .caption{
    font-size: 48px;
    color: #1D1D1D;
    font-family: "Gilda Display";
    font-size: 55px;
    font-weight: normal;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.service-section .heading{
    color: #1D1D1D;
    font-family: "Gilda Display";
    font-size: 25px;
    font-weight: normal;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin: 30px 0;
    text-transform: capitalize;
}

.service-section .number{
    color: #C19B76;
    font-size: 70px;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 1px;
}

.service-section .service-content{
    color: #5C5C5C;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 1px;
}
.service-section ul {
    list-style: none;
    padding-left: 0;
    color: #5C5C5C;
    margin-top: 20px;
  }
.service-section li {
    position: relative;
    padding-left: 1.5em;  /* space to preserve indentation on wrap */
    color: rgb(156, 149, 149);
  }
.service-section  li:before {
    content: '';  /* placeholder for the SVG */
    position: absolute;
    left: 0;  /* place the SVG at the start of the padding */
    width: 1em;
    height: 1em;
    background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='14' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat;
  }