.header {
  background: linear-gradient(1deg, rgba(0, 0, 0, 0.1), rgba(1, 1, 1, 0.6)), url('../../assets/home.webp');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 100px 0;
  z-index: 1;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
  text-align: center;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: black;
  color: goldenrod;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.headerSearch {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  /* border-radius: 5px; */
  position: absolute;
  bottom: -50px;
  width: 100%;
  max-width: 1024px;
  height: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 12 !important;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dedede;
  padding: 10px 20px;
}
.destination{
  display: none;
}
.headerSearch .headerSearchItem:last-child{
  border: none;
}
.rdrCalendarWrapper, .options{
  margin-top: 20px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}


.MuiAppBar-colorPrimary{
  color: #fff !important;
  background-color: rgba(33, 31, 31, 0.4) !important;
}





/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .headerSearch{
    flex-direction: column;
    height: 40vh;
    
  
    justify-content: space-between;
  }
  .headerSearchItem{
    width: 80%;
  }
  .headerSearchItem:last-child{
    padding: 0;
  }
  .headerSearch button{
    width: 100%;
    padding: 10px 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}