/* .navbar{
  height: 50px;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
} */

.nav{
  background: #1c1c1d !important;
}

.nav a{
  color: rgb(216, 216, 216) !important;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  position: relative;
}


.nav-links a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1ea1a1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .nav a:hover{
  color: black !important;
} */
.nav-links{
  /* background: red; */
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.logo{
  object-fit: contain;
  height: 50px;
  width: 100px;
}
.menu-icon{
  color: #fff;
}
.drawer-link{
  color: #000;
}