div.nice-dates{
   width: 100%;
}
div.date-range{
   display: flex;
   /* justify-content: center; */
   align-items: center;
   width: 100%;
}
.input{
   color: #dedede !important;
   border: 1px solid #dedede;
   padding: 10px 20px;
   margin: 0 20px;
   
}
.input::placeholder{
   color: #dedede;
}

@media only screen and (max-width: 600px) {
   div.date-range{
      flex-direction: column;
   }
   .input{
      margin-top: 30px;
      width: 80%;
   }
}